# Go
*.db
*.exe
*.dll
*.so
*.dylib
bin/
obj/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/
dist/
build/

# Data & outputs
analytics-python/output/
web-ui/charts/*.html

# Ignore dashboard HTML (fixes language stats)
web-ui/index.html

# OS
.DS_Store
Thumbs.db
